:root{
  --MyPrimary-White:#F8F9FA;
  --MyPrimary-Gray:#6C757D;
  --MyPrimary-Gunmetal:#343A40;
  --MyPrimary-Black:#090A0B;
  --MyPrimary-Crayola:#71571a;
}
.darkMode{
  --MyPrimary-Black:#F8F9FA;
  --MyPrimary-Gunmetal:white;
  --MyPrimary-White:#090A0B;
}

body {
    font-size: 18px;
    background-color: var(--MyPrimary-White);
    font-family: 'Oxygen', sans-serif;
}

/* NAVBAR */
.navbar{
background-color: var(--MyPrimary-White);
}
.nav-link, .navbar-brand, .navbar-toggler .fas{
  color: var(--MyPrimary-Black);
}
.nav-link:hover, .navbar-brand:hover, .navbar-toggler .fas:hover{
  color:var(--MyPrimary-Gray);
}
#mode{
  cursor: pointer;
  width: 30px;
}
#myEmail{
cursor: pointer;
}
/*END NAVBAR*/

/* HEADER */
h1, h2{
  font-weight: bold;
  text-align: center;
}
h1{
  color:var(--MyPrimary-Gray);
}
h3{
  padding-top: 10px;
  margin-bottom: 10px;
}
h1 span, #homeContainer p{
  color:var(--MyPrimary-Black);
}
#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: var(--MyPrimary-Black);
    color: var(--MyPrimary-White);
}
#call-btn > a:hover{
  box-shadow: 0 0 30px var(--MyPrimary-Gunmetal);
  border: 2px solid var(--MyPrimary-Gunmetal);}
#profilePic{
    border-radius: 50%;
}
div .fas, div .fab{
  margin-left: 17px;
  margin-right: 17px;
  color: var(--MyPrimary-Black);
}
div .fas:hover,div .fab:hover{
  color: var(--MyPrimary-Grey);
}
#homeContainer, #aboutSecContainer, #projectsContainer{
  /* height: 675px; */
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

#homeRow, #itemRow, #itemContainer{
  height: 600px;
  padding-top: 10px;
  overflow: auto;
}

/* .border{
  border: 1px red solid;
  text-align: center;
}
.colorItem{
  background-color: coral;
  margin: 0;
}
.colorItem2{
  background-color: red;
}
.colorItem3{
  background-color: green;
} */

/* ANIMATION */
#homeRow .container{
  height: 22px;
  width: 325px;
  line-height: 22px;
  display: flex;
  overflow: hidden;
}
h1 + p{
  margin-bottom: 8px;
}
#homeContainer ul{
  list-style: none;
  padding-left: 10px;
  text-align: start;
  animation: change 7s infinite;
  margin: 0px;
  color:var(--MyPrimary-Gray);
  font-size: 17px;
}
#homeContainer .container p{
  margin: 0px;
}
@keyframes change {
  
  /*Three items*/
  0%{margin-top: 0;}
  20%{margin-top: 0;}

  25%{margin-top: -22px;}
  50%{margin-top: -22px;}

  55%{margin-top: -44px;}
  80%{margin-top: -44px;}

  85%{margin-top: -22px;}
  95%{margin-top: -22px;}

  100%{margin-top: 0;}

  /* Four items
  0%{margin-top: 0;}
  7%{margin-top: 0;}

  11%{margin-top: -22px;}
  25%{margin-top: -22px;}

  29%{margin-top: -44px;}
  43%{margin-top: -44px;}

  47%{margin-top: -66px;}
  61%{margin-top: -66px;}

  65%{margin-top: -44px;}
  79%{margin-top: -44px;}

  83%{margin-top: -22px;}
  95%{margin-top: -22px;}

  100%{margin-top: 0;} */
}
/* END ANIMATION */
/* END HEADER*/

/*ABOUT ME*/
.jumbotron {
  box-shadow: 0 0 50px var(--MyPrimary-Gunmetal);
  border: 2px solid var(--MyPrimary-Gunmetal);
  background-color: var(--MyPrimary-Black);
  color: var(--MyPrimary-White);
}
.jumbotron div button{
  color:var(--MyPrimary-White);
  border-color:var(--MyPrimary-White);
}
.jumbotron div button:hover{
  background-color: var(--MyPrimary-White);
  color:var(--MyPrimary-Black);
}
/*END ABOUT ME*/

/*PROJECTS*/
#projectsContainer, #carouselProjects{
  min-height: 80vh;
  color: var(--MyPrimary-Black);
 
}
/*END PROJECTS*/

/* EXPERIENCE */
h5{
  font-weight: lighter;
}
.blue-bg {
  color: var(--MyPrimary-Black);
  height: 100%;
}
.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: var(--MyPrimary-Crayola);
  color: black;
  max-height: 50px;
  z-index: 2;
}
.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid var(--MyPrimary-Crayola);
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}
.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid var(--MyPrimary-Crayola);
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid var(--MyPrimary-Crayola);
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
/* END EXPERIENCE */

/* FOOTER */
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: var(--MyPrimary-Black);
    border-top: 0;
    color: var(--MyPrimary-White);
  }
.panel-footer div.row {
    margin-bottom: 35px;
    color: var(--MyPrimary-White);
  }
a .fab{
  color: var(--MyPrimary-White);
}
a .fab:hover{
  color: var(--MyPrimary-Gray);
}
hr{
    border-color: var(--MyPrimary-White);
  }
/*END FOOTER*/